
@{
    ViewData["Title"] = "DetailsError";
}

<h1>Please fill the Address Details Before Placing Order</h1>
<a class="btn btn-outline-success" asp-controller="ShoppingCart" asp-action="CartView">Back</a>
<a class="btn btn-outline-success" asp-controller="Account" asp-action="EditProfile">Add Address</a>


