@using BlinkIt.Models.ViewModels.category
@model CategoryEditModel
@{
    ViewData["Title"] = "Edit";
}


<form method="post" asp-action="Edit" enctype="multipart/form-data">
    @*<input type="hidden" id="AppUserId" name="AppUserId" asp-for="AppUserId" />*@
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Enter Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-row form-group">
        <div class="col">
            <input asp-for="Image" type="file" class="form-control form-control-lg" placeholder="Image" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a class="btn btn-secondary" asp-action="Index">Back</a>
</form>


